:root {
    --clr-primary-200: #F4F4F9;
    --clr-primary-400: #fa9457;
    --clr-primary-700: #273043;

    --clr-neutral-100: #FFF;
    --clr-neutral-700: #000000;

    --clr-onhover-primary-400: rgba(250, 148, 87, 0.5);

    --ff-primary: "Montserrat", Sans-serif;

    --header-height: 12vh;
    --main-height: 88vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    line-height: 1;
    font-weight: 900;
    margin-bottom: 0.8em;
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.563rem;
}

p {
    margin-bottom: 0.8em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


body {
    margin: 0;
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.6;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

@media (min-width: 401px) and (max-width: 768px) {
    h1 {
        font-size: 2.441rem;
    }

    h2 {
        font-size: 1.953rem;
    }

    h3 {
        font-size: 1.563rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.953rem;
    }

    h2 {
        font-size: 1.563rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p, li {
        font-size: 0.9rem;
    }
}
